@use 'neumorph-effect';

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

#app {
    height: 90vh;
    padding: 5vh 11vw;
    background-color: #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


.score-bar {
    @include neumorph-effect.flat($distance: 6px, $intensity: 20%,$blur: 10px);
    height: 12vh;
    padding: 1.5vh 5vw;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.score {
    @include neumorph-effect.concave($distance: 6px, $intensity: 20%,$blur: 15px);
    border-radius: 20px;
    aspect-ratio: 1/1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    :first-child {
        font-size: 0.75rem;
    }
    :last-child {
        font-size: 2.5rem;
    }
}

#title {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
}